body {

  /*font-family: Pixelify Sans, sans-serif; 
   font-family: Indie Flower, cursive;   
   font-family: 'Bebas Neue', sans-serif;  
   font-family: 'Amatic SC', sans-serif; 
}

 /* NOTE : Available Fonts are 'Pixelify Sans', 'Indie Flower','Bebas Neue','Amatic SC' */

.container{
	padding: 2rem;	
}
.slider-wrapper{
	position: relative;
	max-width: 90rem;
	margin: 0 auto;

}
.slider{
	display: flex;
	aspect-ratio: 16 / 9;
	overflow:hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
}
.slider img{
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}
.slider-nav{
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.slider-nav a{
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: #fff;
	opacity:0.75;
	transition: opacity ease 250ms;
}
.slider-nav a:hover{
	opacity: 1;

}

/* NOTE : The following code is where it is tailored to Phones (600px-MAX.) */



/*

@media screen and (max-width: 600px)
{
   **Program Here for phones**
}

*/
