
body {
	margin: 2;
}
.links{
	text-decoration: none;
}
.index{
	text-align: center;
	font-size: 2rem;
	font-family:unset;
	color: black;
}
.index:hover{
	cursor: pointer;
	font-weight: bold;
}

.info{
	text-align: center;
	font-size: 1.5rem;
	font-family:unset;
	color: black;
	padding-left: 20%;
	padding-right: 20%;
}

/* Styles for phones*/
@media only screen and (max-width: 599px) {
    .pdf {
        border-radius: 40px;
        width: 90%;
        height: 90vh;
    }
    .test,.test2 {
        text-align: center;
        font-size: 2rem;
        font-family: unset;
        color: black;
    }
    .test,.test2:hover {
        cursor: pointer;
    }
}

/* Styles for tablets (600px to 899px) */
@media only screen and (min-width: 600px) and (max-width: 899px) {
    .pdf {
        border-radius: 40px;
        width: 80%;
        height: 90vh;
    }
    .test,.test2 {
        text-align: center;
        font-size: 4.5rem;
        font-family: unset;
        color:black;
    }
    .test,.test2:hover {
        cursor: pointer;
    }
}

/* Styles for laptops and desktops (900px to 1199px) */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
    .pdf {
        border-radius: 40px;
        width: 80%;
        height: 100%;
    }
    .test,.test2 {
        text-align: center;
        font-size: 2rem;
        font-family: unset;
        color:black;
    }
    .test,.test2:hover {
        cursor: pointer;
    }
}

/* Styles for larger screens like projectors or TVs */
@media only screen and (min-width: 1200px) {
    .pdf {
        border-radius: 40px;
        width: 70%;
        height: 90vh;
    }
    .test,.test2 {
        text-align: center;
        font-size: 5rem;
        font-family: unset;
        color:black;
    }
    .test,.test2:hover {
        cursor: pointer;
    }
}



