
body {
	margin: 2;
}
.links{
	text-decoration: none;
}

.test{
	text-align: center;
	font-size: 4.5rem;
	font-family:unset;

}
.test2{
	text-align: center;
	font-size: 3rem;
	font-family:unset;
}
.index{
	text-align: center;
	font-size: 2rem;
	font-family:unset;
	color: black;
}
.index:hover{
	cursor: pointer;
	font-weight: bold;
}
.info{
	text-align: center;
	font-size: 1.5rem;
	font-family:unset;
	color: black;
	padding-left: 20%;
	padding-right: 20%;
}

